ipykernel
python-dotenv
matplotlib
requests
qiskit
qiskit-aer
qsharp
qsharp_bridge @ https://github.com/qsharp-community/qsharp-bridge/releases/download/0.2.1/qsharp_bridge-0.2.1-py3-none-linux_x86_64.whl; sys_platform == "linux"
qsharp_bridge @ https://github.com/qsharp-community/qsharp-bridge/releases/download/0.2.1/qsharp_bridge-0.2.1-py3-none-macosx_11_0_universal2.whl; sys_platform == "darwin" 
qsharp_bridge @ https://github.com/qsharp-community/qsharp-bridge/releases/download/0.2.1/qsharp_bridge-0.2.1-py3-none-win_amd64.whl; sys_platform == "win32" and platform_machine == "AMD64"
qsharp_bridge @ https://github.com/qsharp-community/qsharp-bridge/releases/download/0.2.1/qsharp_bridge-0.2.1-py3-none-win_arm64.whl; sys_platform == "win32" and platform_machine == "ARM64"